<div class="container">
        <div class="row my-5">
          <!-- 列1：按鈕列 -->
          <div class="col">
            <button class="btn btn-lg btn-danger mr-4" (click)="openModal()">新增教友</button>
            <button class="btn btn-lg btn-success" [routerLink]="['/dashboard']">返回首頁</button>
          </div>
        </div>
        <!-- 列2：資料列-->
        <div class="row">  
          <div class="col">
            <table class="table table-striped table-inverse">
              <thead class="thead-inverse text-center">
                <tr>
                  <th>編號</th>
                  <th>姓名</th>
                  <th>生日</th>
                  <th>自我介紹</th>
                  <th>編輯</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let m of members | async">
                  <td>{{ m.member_id }}</td>
                  <td>{{ m.name }}</td>
                  <td>{{ m.bitrh.year }} / {{ m.bitrh.month }} / {{ m.bitrh.day }}</td>
                  <td>{{ m.intro }}</td>
                  <td>
                    <i class="fas fa-edit" (click)="editMember(m)"></i>
                    <i class="fas fa-trash-alt" (click)="deleteMember(m)"></i>
                  </td>
                </tr>          
              </tbody>
            </table>
          </div>
        </div>
      
        <div class="row">
          <!-- 列3：分頁(pagination)-->
      
        </div>
      
      </div>