<div class="container">
    <div class="modal-header">
        <h4 class="modal-title">入會資料</h4>
    </div>
    <!--改最多的部分-->
    <div class="modal-body">
        <form #cform="ngForm">

            <div class="form-group">
                <div class="row">
                    <label for="name" class="col-2 col-form-label">姓名<span class="text-danger">*</span></label>
                    <!--欄位的性質要注意，後方的命名也需要更改。-->
                    <input type="text" class="col-10 form-control" [(ngModel)]="member.name" name="name" #name="ngModel" placeholder="姓名" required>
                </div>
                <div *ngIf="name.dirty">
                    <span *ngIf="name.errors; then errors"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label for="bitrh" class="col-2 col-form-label">入教日期<span class="text-danger">*</span></label>
                    <input type="Date" class="col-10 form-control" [(ngModel)]="member.bitrh" name="Date" #Date="ngModel" ngbDatepicker #d="ngbDatepicker" required>
                </div>
                <div *ngIf="Date.dirty">
                    <span *ngIf="Date.errors; then errors"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label for="level" class="col-2 col-form-label">等級<span class="text-danger">*</span></label>
                    <!-- <input type="text" class="col-10 form-control" [(ngModel)]="member.level" name="level" #level="ngModel"
              placeholder="分為：教主、主教、教士、教友" required> -->
                    <select class="col-10 form-control" name="level" [(ngModel)]="member.level" #level="ngModel">
                        <option value="教主">教主</option>
                        <option value="主教">主教</option>
                        <option value="教士">教士</option>
                        <option value="教友">教友</option>
                     </select>
                </div>
                <div *ngIf="level.dirty">
                    <span *ngIf="level.errors; then level_errors"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="background" class="col-2 col-form-label">入教宣言與介紹</label>
                <textarea type="text" class="col-10 form-control" [(ngModel)]="member.intro" name="intro" placeholder="非必要, 但可以表示你的真心！" rows="4">
            </textarea>
            </div>

            <div class="modal-footer">
                <small class="text-danger mr-auto">* 必填</small>
                <button type="submit" class="btn btn-outline-info" (click)="save()" [disabled]="!cform.form.valid">儲存</button>
                <button type="reset" class="btn btn-outline-dark">清除</button>
                <button type="button" class="btn btn-outline-dark" (click)="active.dismiss('cancel')">取消</button>
            </div>
        </form>
    </div>

    <ng-template #errors>
        <p class="text-danger">欄位未填！</p>
    </ng-template>
    <ng-template #level_errors>
        <p class="text-danger">需填寫入教等級！</p>
    </ng-template>
</div>