<div class="container">
    <div class="card-columns text-center my-5">
        <div class="card p-3">
            <i class="fas fa-star-of-life fa-5x"></i>
            <div class="card-body">
                <h4 class="card-title">
                    <!--routerLink 超連結-->
                    <a class="btn btn-lg btn-secondary text-light" [routerLink]="['/customer']">會員管理</a>
                </h4>
                <p class="card-text">上課練習區</p>
            </div>
        </div>
        <div class="card p-3">
            <i class="fas fa-bone fa-5x"></i>
            <div class="card-body">
                <h4 class="card-title">
                    <a class="btn btn-lg btn-warning text-light" [routerLink]="['/member']">我的專案</a>
                </h4>
                <p class="card-text">期末連接期中的主題-多多教</p>
            </div>
        </div>
        <div class="card p-3">
            <!-- fa-5x 放大縮小-->
            <i class="fas fa-cannabis fa-5x"></i>
            <div class="card-body">
                <h4 class="card-title">
                    <a class="btn btn-lg btn-success text-light" [routerLink]="['/aa070312-list']">最終版本</a>
                </h4>
                <p class="card-text">連接期中的版本</p>
            </div>
        </div>
    </div>
</div>